<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<div class="layout" id="app">

    <div class="layout__header">
        {{> header}}
    </div>

    <div class="layout__main">
        {{{body}}}
    </div>

    <div class="layout__footer">
        {{> footer}}
    </div>

</div>

<script src="js/bundle.js"></script>
</body>
</html>